<launch>

	<arg name="robot_namespace"/>

	<group ns="$(arg robot_namespace)">
		<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
			<rosparam file="$(find smit_matlab_sim)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
			<rosparam file="$(find smit_matlab_sim)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find smit_matlab_sim)/params/local_costmap_params.yaml" command="load" />
			<rosparam file="$(find smit_matlab_sim)/params/global_costmap_params.yaml" command="load" /> 
			<rosparam file="$(find smit_matlab_sim)/params/base_local_planner_params.yaml" command="load" />

			<param name="global_costmap/scan/sensor_frame" value="$(arg robot_namespace)/laser_scan"/>
			<param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg robot_namespace)/laser_scan"/>
			<param name="global_costmap/global_frame" value="map"/>
			<param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>

			<param name="local_costmap/scan/sensor_frame" value="$(arg robot_namespace)/laser_scan"/>
			<param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg robot_namespace)/laser_scan"/>
			<param name="local_costmap/global_frame" value="odom"/>
			<param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>

			<remap from="/$(arg robot_namespace)/map" to="/map"/>
		</node>
	</group>

</launch>